### source dependencies
vendor/

.SyncID
.SyncIgnore
*.o
*.hi
*.dyn_o
*.dyn_hi
*.hs~
Mediator
dist/Server
dist
.cabal-sandbox
cabal.sandbox.config
CTAGS
frontend_log
backend_log
frontend.log
mediator.log
sca.log
backend.log

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
.\#*

### OS X ###
.DS_Store
